{% extends "base.html" %}

{% block title %}Upcoming Collection Events{% endblock %}

{% block content %}

<style>
.green-checkmark {
  color: green; /* Sets the color to green */
  font-size: 20px; /* Optional: Adjusts the size */
  font-weight: bold; /* Optional: Makes it bolder */
}
</style>

<h1>Upcoming Collection Appointments</h1>
<p>Total Locations: {{ rows|length }}</p>

{% if rows %}
<div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Patient </th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Outcome</th>
                        <th>Tube ID</th>
                    </tr>
                </thead>
                <tbody>
                   {% for row in rows %}
                    <tr>
                       <td> <a href="{{ url_for('person_details', person_id=row['EMPI']) }}" class="person-link">{{ row['patient_name'] }}</a></td>
                       <td><a href="{{ url_for('get_location_appointments', location_id=row['DepartmentEpicId']) }}" class="person-link">{{ row['location_name'] }}</a></td>
                       <td>{{row['appointment_date']}}</td>
                       <td>{{ row['appointment_time'] }}</td>
                       <td>
                        {% if row['outcome'] == true %}
                            <i style="color:green" class="bi bi-check-lg"></i>
                        {% elif row['outcome'] == false %}
                            <i style="color: red" class="bi bi-x-lg"></i>
                        {% else %}
                            &nbsp;
                        {% endif %}
                        </td>
                        <td>
                            
                                {{ row['saliva_kit_id'] }}
                           
                        </td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>

{% else %}
<p>No records</p>
{% endif %}
{% endblock %}
